_site/***.sublime_workspace
_site
_site/*
_site.*
_site.**/*
_site.**/**/*
_site.*/*
_site.*/*/*
**/*.swp
research/b_slides/node_modules/*
research/b_slides/node_modules/**
research/b_slides/node_modules/
research/b_slides/node_modules/
research/b_slides/node_modules/**/**/*
research/b_slides/node_modules/**/**/**/*
