$gray00: #FBFBFF;
$gray10: #E1E6EA;
$gray20: #C7CFD6;
$gray30: #A7AEB5;
$gray40: #93999E;
$gray50: #797D82;
$gray60: #64646B;
$gray70: #3F464D;
$gray80: #282E33;
$gray90: #1D2024;

$key00: #e7f5ff;
$key10: #d0ebff;
$key20: #a5d8ff;
$key30: #74c0fc;
$key40: #4dabf7;
$key50: #339af0;
$key60: #228be6;
$key70: #1c7ed6;
$key80: #1971c2;
$key90: #1864ab;

$primaryLight: $key10;
$primaryKey: $key50;
$primaryDark: $key80;
$primaryExtraDark: $key90;

