---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
  <head>
    

</head>

  <article class="post-content">
  {{ content }}

  <p><a href="index.html">Back to hub for this section</a> </p>
  {% if page.linear == true %}
  <p><a href={{page.next_page}}>Next Section</a></p>
  <p><a href={{page.prev_page}}>Previous Section</a></p>
  {% endif %}
  </article>
<!-- Possible in line discussions 
<link rel="stylesheet" type="text/css" href="/inlineDisqussions.css" />
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="javascripts/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="/inlineDisqussions.js"></script>
    <script>
      disqus_shortname = 'bzreinhardt';
      jQuery(document).ready(function() {
        jQuery("p:not('.highlighted, .narrow-p')").inlineDisqussions({
          position: 'right'
        });
        jQuery("p.highlighted").inlineDisqussions({
          identifier: 'disqussion-highlighted',
          highlighted: true,
        });
jQuery("p").inlineDisqussions({
  identifier: 'disqussion',
  displayCount: true,
  highlighted: false,
  position: 'right',
  background: 'white',
  maxWidth: 9999
});
        
      });
    </script>
  -->


</div>